/*--------CATEGORY SELECTION BOX--------*/
.container__filters {
  background-image: url("../img/bg-card-1.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0 1rem;
  margin-bottom: 2.5rem;
  border-bottom: 2px outset var(--color-rosegold);
}

.filter-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  color: var(--color-papyrus);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.filter-title > img {
  width: 24px;
}

.container__filter-btns {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.btn-filter {
  width: 45%;
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 1.1em;
  margin-bottom: 0.2rem;
  gap: 0.2rem;
  border: 2px outset var(--color-rosegold);
  border-radius: 30px;
  font-family: var(--fonte-principal);
  font-size: 1.2rem;
  color: var(--color-papyrus);
  background: linear-gradient(15deg, #434343 0%, black 100%) no-repeat;
  background-size: 300%;
  background-position: left center;
  transition: background 0.3s ease;
}

.btn-filter:hover {
  background-size: 320%;
  background-position: right center;
}

.btn-filter img {
  width: 24px;
}

/*--------CARRD STYLING--------*/
.container__shop-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 0 auto;
  padding: 0 0.5rem 2.5rem;
}

.flip-card {
  background-color: transparent;
  width: 45%;
  max-width: 160px;
  height: 230px;
  perspective: 1000px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  padding: 0.2rem;
  box-shadow: 3px 3px 3px 0 black;
  position: absolute;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 2px outset var(--color-rosegold);
  border-radius: 0.6rem;
}

.flip-card-front,
.flip-card-back {
  display: grid;
  grid-template-rows: 3fr 2fr;
  background-image: url(../img/bg-card-1.jpg);
}

.flip-card-back {
  grid-template-rows: 1fr auto;
  transform: rotateY(180deg);
  background-image: url(../img/bg-card-back.jpg);
}

.card-img {
  width: 72px;
  filter: drop-shadow(2px 2px 1px var(--color-papyrus));
}

.card-damage,
.card-price {
  display: flex;
  align-items: center;
  font-size: 0.6rem;
}

.card-text-front,
.card-text-back {
  color: black;
  width: 100%;
  height: 100%;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border: 2px inset var(--color-rosegold);
}

.card-text-front {
  border-radius: 0 0 0.4rem 0.4rem;
  background-image: url(../img/bg-card-2.jpg);
  background-size: contain;
}

.card-text-front p {
  filter: drop-shadow(1px 1px 1px black);
}

.card-text-back {
  border: none;
  color: var(--color-papyrus);
  font-size: 1rem;
}

.card-damage {
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--color-damage);
}

.card-damage-type {
  width: 1rem;
  height: 1rem;
  filter: drop-shadow(1px 1px 1px black);
}

.btn-purchase {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0.1rem 1.1em;
  margin-bottom: 0.2rem;
  gap: 0.2rem;
  border: 2px outset var(--color-rosegold);
  border-radius: 30px;
  font-family: var(--fonte-principal);
  color: var(--color-papyrus);
  background: linear-gradient(15deg, #434343 0%, black 100%) no-repeat;
  background-size: 300%;
  background-position: left center;
  transition: background 0.3s ease;
}

.btn-purchase:hover {
  background-size: 320%;
  background-position: right center;
}
